@use './partials/typography';
@use './partials/card';
@use './partials/form';
@use './partials/delete-confirm';
@use './partials/variables' as *;
@use './partials/mixins' as *;

.management {
  min-height: 100vh;
  background-color: $primary-color;
  header {
    padding: 2rem;
    background-image: linear-gradient(315deg, $third-color 0%, $secondary-color 74%);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @include media-query(576px) {
      flex-direction: column;
    }

    .left-content {
      flex: 1;
      img {
        width: 100%;
        @include media-query(576px) {
          display: none;
        }
      }
    }

    .right-content {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .action {
        @include media-query(376px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  .list-card {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;

    @include media-query(576px) {
      grid-template-columns: 1fr;
    }
  }

  .create-form {
    color: $secondary-color;
    padding: 2rem;
    margin-top: 2rem;
  }

  .manage-content {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: $white-color;
  }

  .current-image {
    width: 100%;
    margin-top: -1rem;
    text-align: left;

    small {
      color: $white-color;
      a {
        color: $secondary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
