@use './partials/typography';
@use './partials/card';
@use './partials/input';
@use './partials/variables' as *;
@use './partials/mixins' as *;

.management {
  header {
    padding: 2rem;
    background-image: linear-gradient(315deg, $third-color 0%, $secondary-color 74%);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @include media-query(576px) {
      flex-direction: column;
    }

    .left-content {
      flex: 1;
      img {
        width: 100%;
        @include media-query(576px) {
          display: none;
        }
      }
    }

    .right-content {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .action {
        @include media-query(376px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  .list-card {
    background-color: $primary-color;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;

    @include media-query(576px) {
      grid-template-columns: 1fr;
    }
  }
}
