<div class="card">
  <div class="card-heading">
    <div class="image-site">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzHfg3KhCnpl06VUZDj2CqbA0LivhQ8rkfVGzGzmPFESXYRLHCX4kUxuXdyEPT2zVZHg&usqp=CAU"
        alt=""
      />
    </div>
    <div class="site">
      <a href="https://google.com" target="_blank">https://google.com</a>
    </div>
  </div>
  <div class="card-content">
    <div class="username wrapper">
      <h5>myusername</h5>
      <div title="copy" data-content="myusername" class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
          <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
        </svg>
      </div>
    </div>
    <div class="email wrapper">
      <h5>myemail@email.mail</h5>
      <div title="copy" data-content="myemail@email.mail" class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
          <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
        </svg>
      </div>
    </div>
    <div class="password wrapper">
      <h5>mypassword123</h5>
      <div title="copy" data-content="password" class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
          <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
        </svg>
      </div>
    </div>
  </div>
</div>
