{% extends 'management/base.html' %} {% load static %}

<!-- TITLE PAGE -->
{% block title %}{{ block.super }} | List{% endblock title %}

<!-- MAIN CONTENT -->
{% block content %}
<div class="management">
  <header>
    <div class="left-content">
      <img src="{% static 'management/images/list.svg' %}" alt="the illustration image list" />
    </div>
    <div class="right-content">
      <h1 class="title-page">Your Account and Password List</h1>
      <div class="action">
        <a href="#" class="btn">Manage</a>
        <a href="#" class="btn">Create New</a>
      </div>
      <form action="#">
        <input type="text" name="search" placeholder="Search by site name" required />
        <button class="btn btn-sm btn-white">Search</button>
      </form>
    </div>
  </header>
  <div class="list-card">
    {% include 'management/partials/card.html' %} {% include 'management/partials/card.html' %}
  </div>
</div>

<!-- JAVASCRIPT -->
<script src="{% static 'management/js/list.js' %}"></script>
{% endblock content %}
