@use './mixins' as *;
@use './variables' as *;

form {
  @include flex-center(column);
  width: 100%;
}

input {
  width: 100%;
  display: block;
  margin: 10px 0;
  border: 1px solid $white-color;
  color: $secondary-color;
  background-color: transparent;
  border-radius: 10px;
  padding: 0.7rem;
}
input:focus,
input:valid {
  outline: none;
  border: 1px solid $secondary-color;
}
