@use './variables' as *;

input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid $white-color;
  color: $secondary-color;

  &:focus,
  &:valid {
    outline: none;
    border-color: $secondary-color;
  }
}
