@use './variables' as *;

input {
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 2px solid $primary-color;
  background-color: darken($white-color, 5%);

  &:focus {
    outline: none;
  }
}
